:root{

  --primary:#114232;
  --primary-light:#006A4E;

  --background:#F5F7FA;

  --surface:#FFFFFF;

  --text:#1F2937;
  --muted:#6B7280;

  --border:#E5E7EB;

  --success:#16A34A;
  --warning:#F59E0B;
  --danger:#DC2626;
  --info:#2563EB;

  --radius-sm:8px;
  --radius-md:12px;
  --radius-lg:16px;

  --shadow-sm:0 2px 6px rgba(0,0,0,.04);
  --shadow-md:0 8px 20px rgba(0,0,0,.06);
  --shadow-lg:0 12px 30px rgba(0,0,0,.08);

}