.dashboard{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.contentGrid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:24px;
}

@media (max-width:992px){

.contentGrid{
    grid-template-columns:1fr;
}

}